<nav>
    <link rel="stylesheet"  href="/css/style_principal.css">
  <div class="logo">
    <a href="/page-userProfile"><img src="img/logo.png"></a>
      <div class="search">
          <img src="img/search.svg">
          <input type="search" placeholder="Buscar en PetBook">
      </div>
  </div>
  <div class="options">
      <img src="img/home.svg">
      <img src="img/friends.svg">
      <img src="img/flag.svg">
      <img src="img/video.svg">
      <img src="img/group.svg">
  </div>
  <div class="options-two">
       <img src="img/menu.svg">
       <img src="img/messenger.svg">
       <img src="img/notifications.svg">
       <img src="img/menu-desplegable.svg">
  </div>
</nav>