<span class="">
    <link rel="stylesheet" href="/css/index.css" type="text/css"> 
<div id="footer1" class="">
    <footer  class="container mt-5">
        <span  class="row ">
        <!--div class="col"></div>-->
        <div class="col mt-4 mb-3">
            <h6>Sobre nosotros</h6>
            <ul class="nav flex-column">
                <li class="nav-item mb-2">
                    <a href="" class="nav-link p-0 text-muted">¿Qué es RED-MASCOSTAS?</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="" class="nav-link p-0 text-muted">Mision</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="" class="nav-link p-0 text-muted">Vision</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="" class="nav-link p-0 text-muted">Contacto</a>
                </li>    
            </ul>
        </div>
        <div class="col mt-4 mb-3">
            <h6>Nuestras Políticas</h6>
            <ul class="nav flex-column">
                <li class="nav-item mb-2">
                    <a href="/nosotros" class="nav-link p-0 text-muted">Derechos de autor </a>
                </li>
                <li class="nav-item mb-2">
                    <a href="" class="nav-link p-0 text-muted">Anuncios personalizados</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="/views/term&cond.ejs" class="nav-link p-0 text-muted">Término y condiciones</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="/views/politicas.ejs" class="nav-link p-0 text-muted">Término de privacidad</a>
                </li>
            </ul>
        </div>
        <div class="col mt-4 mb-3">
            <h6>Redes Sociales</h6>
            <ul class="nav flex-column">
                <li class="nav-item mb-2">
                    <p class="p-0 text-muted">Siguenos en:</p>
                    
                    <ul class="list-unstyled d-flex">
                        <li class="ms-3">
                            <a href="https://www.facebook.com/ulima.pe">
                                <img class="bi" width="27" heith="27" src="/Facebook.png" alt="test">
                            </a>
                        </li>
                        <li class="ms-3">
                            <a href="https://www.instagram.com/ulimaoficial/?hl=en">
                                <img class="bi" width="27" heith="27" src="/Instagram.png" alt="hey">
                            </a>
                        </li>
                        <li class="ms-3">
                            <a href="https://www.youtube.com/channel/UCuw7y2WLePUcC20ryknAKng">
                                <img class="bi" width="27" heith="27" src="/Youtube.png" alt="hola">
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            
        </div>
    </span>
    </footer>
    <footer class="">
    
        <ul class="nav justify-content-center border-bottom border-top pb-3 mb-3">
            <li class="nav-item">
                <a href="/politicas" class="nav-link px-2 text-muted">Politica de privacidad</a>
            </li>
            <li class="nav-item">
                <a href="/reglas" class="nav-link px-2 text-muted">Reglas</a>
            </li>
            <li class="nav-item">
                <a href="/terminosycondiciones" class="nav-link px-2 text-muted">Terminos y condiciones</a>
            </li>
        </ul>
        <div class="d-flex justify-content-between ">
            <p class="container">RED-MASCOSTAS 2022-ACTUALIDAD | Todos los derechos reservados</p>
        </div>
        
    </footer>
    </div>
</span>