<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Vet</title>
</head>
<body>
    <header>
        <%- include('BarraBusqueda')%>
    </header>

    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
    <ul class="list-unstyled d-flex">
        <li class="ms-3">
            <a href=>
                <img class="bi" width="27" heith="27" src="/assets/img/Facebook.png" alt="test">
            </a>
        </li>
        <li class="ms-3"> 
            <a href= >
                <img class="bi" width="27" heith="27" src="/assets/img/Instagram.png" alt="hey">
            </a>
        </li>
        <li class="ms-3">
            <a href= >
                <img class="bi" width="27" heith="27" src="/assets/img/Youtube.png" alt="hola">
            </a>
        </li>
    </ul>
    <footer>
        <%- include('footer') %>
    </footer>
</body>
</html>