<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  href="/css/mapa.css">
</head>
<body>
   <section>
    <div class="container">
        <div id="map"></div>
    </div>
   </section>

    <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaHUKvFd5uxL33jJh4KTNLEIuXLRDHbaI&callback=initMap">
    </script>
    <script>
        //varibles globales
        let map;
        let marker;
        //GEO
        let watchID;
        let geoloc;

        const mapDiv = document.getElementById("map");
        
        function initMap(){
            map = new google.maps.Map(mapDiv, {
            center: { lat: -12.04318, lng: -77.02824 },
            zoom: 12,
            });
            marker = new google.maps.Marker({
                position : { lat: -12.0860497, lng: -76.9765101167364},
                map,
                title: "holas"
            });
            getPosition();
        }
        function getPosition(){
            if(navigator.geolocation){
                var options = {timeout:60000};
                geoloc = navigator.geolocation;
                watchID = geoloc.watchPosition(showLocationOnMap, errorHandler, options);
            }else{
                alert("error")
            }
        }
        function showLocationOnMap(position) {
            var latitud = position.coords.latitude;
            var longitud = position.coords.longitude;
            console.log("Latitud: "+ latitud +", " + "Longitud: "+ longitud);

            const myLatLng = {lat: latitud, lng: longitud};
            marker.setPosition(myLatLng);
        }
        function errorHandler(err) {
        if (err.code == 1){
            alert("Error: Acceso denegado!");
        } else if(err.code == 2){
            alert("Error: Position no existe o no encontrada");
        }
    }
    </script>
</body>
</html>