<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  href="/css/mapa.css">
    
</head>
<body>
    <header>
        <%- include('BarraBusqueda')%>
    </header>
        <div id="map" style="z-index: 3;
        position: fixed;
        height: 100%;
        width: 100%;
        padding: 0px;
        border-width: 0px;
        margin: 0px;
        left: 0px;
        top: 0px;
        touch-action: pan-x pan-y;">
        </div>
        
    



    <!-- Codigo de la API Google-->
    <script>
        //varibles globales
        let map;
        let marker,i;
        var locations = [
            ['Vet1', -12.0499, -77.03],
            ['Vet2', -12.0499, -77.04],
            ['Vet3', -12.0499, -77.01],
            ['Vet4', -12.0499, -77.07],
        ];
        //GEO
        let watchID;
        let geoloc;

        const mapDiv = document.getElementById("map");
        
        function initMap(){
            map = new google.maps.Map(mapDiv, {
            center: { lat: -12.04318, lng: -77.02824 },
            zoom: 14,
            });
            var infowindow = new google.maps.InfoWindow();
            for (i = 0; i < locations.length; i++) { 
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                    map: map
                });

                google.maps.event.addListener(marker, 'click', (function(marker, i) {
                    return function() {
                        infowindow.setContent(locations[i][0]);
                        infowindow.open(map, marker);
                    }
                })(marker, i));
            }
            }
            getPosition()


        function getPosition(){
            if(navigator.geolocation){
                var options = {timeout:60000};
                geoloc = navigator.geolocation;
                watchID = geoloc.watchPosition(showLocationOnMap, errorHandler, options);
            }else{
                alert("error")
            }
        }
        var image = {
        url: "img/Marcador1.png",
        };

        function showLocationOnMap(position) {
            var myMarker = new google.maps.Marker({position: new google.maps.LatLng(position.coords.latitude, position.coords.longitude),icon:image});
            var latitud = position.coords.latitude;
            var longitud = position.coords.longitude;
            console.log("Latitud: "+ latitud +", " + "Longitud: "+ longitud);

            map.setCenter(myMarker.position);
            myMarker.setMap(map);
        }
        function errorHandler(err) {
        if (err.code == 1){
            alert("Error: Acceso denegado!");
        } else if(err.code == 2){
            alert("Error: Position no existe o no encontrada");
        }
    }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaHUKvFd5uxL33jJh4KTNLEIuXLRDHbaI&libraries=places&callback=initMap">
        </script>
</body>
</html>